In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline
pd.set_option('display.max_columns', None)
sns.set()

## Load data
* SpO2_HR
* BP_HR
* Weight
* Messages (questions)

In [2]:
pulse_df = pd.read_excel("../data/SpO2_HR_Readings.xlsx")
bphr_df = pd.read_excel("../data/BP_HR_Readings.xlsx")
weight_df = pd.read_excel("../data/Weight_Readings.xlsx")
mess_df = pd.read_excel("../data/messages 6-22-16.xlsx")

## SpO2_HR

In [3]:
pulse_df.head()

   EndUserId         ReadingDate  SP02  HeartRate_SP02
0          5 2015-05-11 13:52:55    93             102
1          5 2015-05-13 14:18:14    92             106
2          5 2015-05-18 13:53:36    91              98
3          5 2015-05-20 13:43:05    90              88
4          5 2015-05-27 13:29:13    94              81

In [4]:
pulse_df.dtypes

EndUserId                  int64
ReadingDate       datetime64[ns]
SP02                       int64
HeartRate_SP02             int64
dtype: object

In [5]:
pulse_df['SPO2_read_date']=pulse_df['ReadingDate'].apply(lambda x: x.date())
pulse_df['SPO2_read_time']=pulse_df['ReadingDate'].apply(lambda x: x.time())
pulse_df.drop(['ReadingDate'],axis=1,inplace=True)

In [6]:
pulse_df.head()

   EndUserId  SP02  HeartRate_SP02 SPO2_read_date SPO2_read_time
0          5    93             102     2015-05-11       13:52:55
1          5    92             106     2015-05-13       14:18:14
2          5    91              98     2015-05-18       13:53:36
3          5    90              88     2015-05-20       13:43:05
4          5    94              81     2015-05-27       13:29:13

## BP_HR

In [7]:
bphr_df.head()

   EndUserId         ReadingDate  Systolic  Diastolic  HeartRate
0          5 2015-05-11 13:56:47       117         89       94.0
1          5 2015-05-13 14:20:08       111         61       94.0
2          5 2015-05-18 13:55:05       155        134       91.0
3          5 2015-05-20 13:45:51       108         69       84.0
4          5 2015-05-27 13:30:28        96         70       77.0

In [8]:
bphr_df.dtypes

EndUserId               int64
ReadingDate    datetime64[ns]
Systolic                int64
Diastolic               int64
HeartRate             float64
dtype: object

In [9]:
bphr_df['BPHR_read_date']=bphr_df['ReadingDate'].apply(lambda x: x.date())
bphr_df['BPHR_read_time']=bphr_df['ReadingDate'].apply(lambda x: x.time())
bphr_df.drop(['ReadingDate'],axis=1,inplace=True)
bphr_df.head()

   EndUserId  Systolic  Diastolic  HeartRate BPHR_read_date BPHR_read_time
0          5       117         89       94.0     2015-05-11       13:56:47
1          5       111         61       94.0     2015-05-13       14:20:08
2          5       155        134       91.0     2015-05-18       13:55:05
3          5       108         69       84.0     2015-05-20       13:45:51
4          5        96         70       77.0     2015-05-27       13:30:28

## Weight

In [10]:
weight_df.head()

   EndUserId         ReadingDate  Weight
0          5 2015-05-11 13:57:36   168.9
1          5 2015-05-18 13:55:54   167.8
2          5 2015-05-27 13:31:32   168.2
3          5 2015-06-08 14:01:18   169.1
4          5 2015-06-10 13:54:47   167.5

In [11]:
weight_df['W_read_date']=weight_df['ReadingDate'].apply(lambda x: x.date())
weight_df['W_read_time']=weight_df['ReadingDate'].apply(lambda x: x.time())
weight_df.drop(['ReadingDate'],axis=1,inplace=True)
weight_df.head()

   EndUserId  Weight W_read_date W_read_time
0          5   168.9  2015-05-11    13:57:36
1          5   167.8  2015-05-18    13:55:54
2          5   168.2  2015-05-27    13:31:32
3          5   169.1  2015-06-08    14:01:18
4          5   167.5  2015-06-10    13:54:47

## Messages

In [12]:
mess_df.head()

,EndUserId,RespondedOn,Question,Response
0,40.0,2015-05-20 13:22:42,How are you feeling today?,Very well
1,40.0,2015-05-20 13:22:45,Have you changed medications since your last s...,Skip
2,40.0,2015-05-20 13:22:45,Have you fallen since the last screening visit...,Skip
3,40.0,2015-05-20 13:22:46,Have you been hospitalized or had an ER visit ...,Skip
4,40.0,2015-05-20 13:22:47,Have you changed dosage since your last screen...,Skip

In [17]:
mess_df['Resp_date']=mess_df['RespondedOn'].apply(lambda x: x.date())
#mess_df['Resp_time']=mess_df['RespondedOn'].apply(lambda x: x.time())
mess_df.drop(['RespondedOn'],axis=1,inplace=True)
mess_df.head()

,EndUserId,Question,Response,Resp_date
0,40.0,How are you feeling today?,Very well,2015-05-20
1,40.0,Have you changed medications since your last s...,Skip,2015-05-20
2,40.0,Have you fallen since the last screening visit...,Skip,2015-05-20
3,40.0,Have you been hospitalized or had an ER visit ...,Skip,2015-05-20
4,40.0,Have you changed dosage since your last screen...,Skip,2015-05-20

In [24]:
mess_df.groupby(['EndUserId','Resp_date'])['Response'].aggregate('mean').unstack() #,columns='Question')

DataError: No numeric types to aggregate